.home__title {
  margin-top: 40px;
  margin-bottom: 30px;

  padding-bottom: 30px;
  border-bottom: 2px solid rgb(190, 190, 190);
}

.home__wrapper {
  padding-top: 25px;
  margin-top: 25px;
  display: flex;
}

@media (max-width: 800px) {
  .home__wrapper {
    flex-direction: column;
  }
}
