.home__title {
  margin-top: 40px;
}

.home__wrapper {
  padding-top: 25px;
  margin-top: 25px;
  display: flex;
  border-top: 1px solid rgb(221, 221, 221);
}

.home__stats__container {
  flex-grow: 3;
}

.home__buttons__container {
  flex-grow: 9;
}

@media (max-width: 800px) {
  .home__wrapper {
    flex-direction: column;
  }
}
